<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <title>Prima pagina angularJS</title>
</head>

<body>
    <div ng-app>
        <div ng-init="number1=5;number2=4;number3=2">
            INSERT N.1: <input type="number" name="num1" ng-model="number1">
            INSERT N.2: <input type="number" name="num1" ng-model="number2">
            INSERT N.3: <input type="number" name="num1" ng-model="number3">


            <p>  {{(number1>number2) && (number1>number3) ? number1*number2*number3 : number1+number2+number3;}} </p>
      
        </div>
    </div>


    <script src="app.js"></script>
</body>

</html>